.taskform_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px 40px;
}

.task_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 420px;
  padding: 25px;
  border-radius: 10px;
  align-items: stretch;
  background-color: #fbfafcd8;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
.task_form_dark {
  background-color: #413e42d8;
  color:#d4d3d3;
}

.task_form h2 {
  text-align: center;
}

.task_form_input {
  padding: 12px;
  font-family: inherit;
  border: none;
  resize: none;
  background-color: #af98da27;
  border-bottom: 2px solid #af98da;
}

textarea.task_form_input {
  min-height: 100px;
}

.task_form_input_dark{
    background-color: #7a768127;
    border-bottom: 2px solid #cabedf;
    color:#d4d3d3;;
}
.task_form_input:focus{
    outline: none;
    background-color: #af98da59;
    color: #000000;
}
.task_form_input_dark:focus{
    outline: none;
    background-color: #7b718d59;
    color: #ffffff;
}


.save_button{
    padding: 15px 40px;
    max-width: 200px;
    font-family: inherit;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    color:#d4d3d3;
    background-color: #4f32b6;

}

.save_button:hover{
    background-color: #5939ce;
}
.save_button_dark{
    background-color: #44357a;
}

.save_button_dark:hover{
    background-color: #463585;
}



@media screen and (max-width:1100px) {
    .taskform_container{
    font-size: 22px;
    }

    .task_form{
    min-width:50%;
    }
    .task_form_input{
    padding: 10px;
   
    }
    .task_form_input::placeholder{
        font-size: 1em;
    }
}
@media screen and (max-width:500px) {
    .taskform_container{
    font-size: 25px;
    padding-top: 20px;
    }

    .task_form{
    min-width:70%;
    padding: 15px;
    }
    .task_form_input{
    padding: 10px;
    }
    .task_form_input::placeholder{
        font-size: 1em;
    }
}