.task_card_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  padding: 40px;
  width: 100%;
  box-sizing: border-box;
}

.no_tasks {
  text-align: center;
  font-size: 1.5em;
  margin-top: 40px;
}


@media screen and (max-width:750px) {
    .task_card_container{
         justify-content: center;
        }
}