.task_card{
    position: relative;
    background-color: #fbfafcd8; 
    min-width: 300px;
    min-height: 300px;
    justify-items: start;
    align-content: center;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    border-radius: 10px;
}
.task_card_dark{
    background-color: #413e42d8;
    color:#d4d3d3;
}

.task_card_title{
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 1.4em;
    text-align: center;
    border-bottom: 2px solid #b474ecd8;
}

.task_card_description{
    width: 100%;
    height: 80%;
    padding: 20px;
}
.delete_button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
    height: 30px;
  font-family: inherit;
  font-weight: bold;
  border: none;
  background: none;
  cursor: pointer;
}

.delete_button:hover {
  color: #b94040;
}
.task_card_actions {
  display: flex;
  justify-content: center;
}
.complete_button {
  font-family: inherit;
  font-weight: bold;
  align-self: center;
  padding: 15px 20px;
  width: 140px;
  background-color: #3bb83b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.complete_button:hover {
  background-color: #2f9c2f;
}

.completed_text {
  text-decoration: line-through;
  opacity: 0.6;
}

.completed_card {
  background-color: #c2f0c2; 
}

.task_card.completed.task_card_actions{
  text-decoration: none !important;
}